.mat-icon {
  height: 20px;
  width: 20px;
  font-size: 21px;
  padding-top: 2px;
}

.icona-cibando {
  width: 60px;
  margin-right: 5px;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end!important;
}

li.nav-item.user {
  margin-left: 60px;
  border: 1px solid #ffffff42;
  border-radius: 8px;
  padding: 0px 20px;
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;

  .logged {
    margin-bottom: 11px;
    margin-right: 3px;
  }

  a.nav-link {
    display: inline-block;
  }
}
