@import "../../../styles/colors.scss";

.container-titolo {
  h2 {
    margin-top: 30px;
  }

  .paragrafo {
    font-size: 13px;
    text-align:justify;
  }
}

.foto {
  width: 100%;
}

#ultimeRicette {
  margin-top: 40px;
  h2 {
    margin-bottom: 15px;
    text-align: center;
  }
}

div #container-utente {
  background: #000000bd;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
}

div #dati-utente {

}
