// primary colors
$primary-color-1: #8e210b;
$primary-color-2: #dc553a;

//recondary colors
$secondary-color-1:white;
$secondary-color-2: rgb(167, 167, 167);
$secondary-color-3: rgb(73,73,73);
$secondary-color-4:(46,46,46);
$secondary-color-5:rgb(0,0,0);
