@import '../../../styles/colors.scss';

.card-container {
  display: block;
  float: left;
  width: 23%;
  margin-left: 1.6%;
  margin-bottom: 20px;

  .card {
    border-radius: 0.9rem!important;
    height: 465px!important ;

    .card-image {
      height: 200px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 0.9rem 0.9rem 0rem 0rem;
    }

    .card-body {
      text-align: center;

      .card-title {
        font-weight: 900;
        font-size: 19px;
        margin: 3px;
        color: $primary-color-1;
        height: 50px;
      }

      .card-text {
        text-align: justify;
        margin-bottom: 20px;
        height: 146px!important;
      }

      a.btn.btn-primary {
        background: $primary-color-1;
        border: none;
        margin: auto;
        padding: 8px 35px;
      }
    }
  }


}

#loading {
  width: 100%;
  height: 65vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

a.btn.btn-primary.delete {
  background: #441111!important;
  margin-left: 5px!important;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
  .card-container {
    width: 100%;
    margin-left: 0%;
    margin-bottom: 20px;
  }
}


@media only screen and (min-width: 481px) and (max-width: 768px) {
  .card-container {
    width: 45.5%;
    margin-left: 3%;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .card-container {
    width: 30%;
    margin-left: 3%;
    margin-bottom: 20px;
  }
}
