<!-- <div class="card-container" *ngFor="let recipe of recipes">
  <div class="card">
    <div class="card-image" [ngStyle]="{'background-image': 'url(' + recipe.image + ')'}" (click)="inviaTitolo(recipe.title)"></div>
    <div class="card-body">
      <h5 class="card-title">{{recipe.title}}</h5>
      <p class="card-text">{{recipe.description | slice: 0:250}}...</p>
      <a class="btn btn-primary" routerLink="/ricette/dettaglio/{{recipe.title}}/{{recipe._id}}">Visualizza</a>
    </div>
  </div>
</div> -->

<div class="container-card">
  <div class="container-pagination" *ngIf="pag != 'home'">
    <div>
      <strong>{{ricettePerPagina}}</strong> ricette su un totale di <strong>{{ricette.length}}</strong> ricette, pagina corrente: <strong>{{page}}</strong>
    </div>

    <p-paginator (onPageChange)="paginate($event)" [rows]="ricettePerPagina" [totalRecords]="ricette.length" (rowsPerPageOptionsChange)="ricettePerPagina"></p-paginator>
  </div>

  <div class="card-container" *ngFor="let recipe of recipes$ | async | slice: (page * ricettePerPagina) - ricettePerPagina : page * ricettePerPagina">
    <div class="card">
      <div class="card-image" [ngStyle]="{'background-image': 'url(' + recipe.image + ')'}" (click)="inviaTitolo(recipe.title)"></div>
      <div class="card-body">
        <h5 class="card-title">{{recipe.title}}</h5>
        <p class="card-text">
          <span [innerHTML]="recipe.description | slice: 0:200">...</span>
        </p>
        <a class="btn btn-primary" routerLink="/ricette/dettaglio/{{recipe.title}}/{{recipe._id}}">Visualizza</a>

        <a class="btn btn-primary delete" *ngIf="ruolo === 'admin'">ELIMINA</a>
    </div>
  </div>

</div>
