.container-titolo {
  h2 {
    font-size: 35px;
    color: rgb(44, 157, 68);
    font-family: 'Homemade Apple', cursive;
  }

  .paragrafo {
    font-size: 35px;
  }
}

.mat-icon {
  height: 20px;
  width: 20px;
  font-size: 21px;
  padding-top: 2px;
}

.icona-cibando {
  width: 60px;
  margin-right: 5px;
}

#divred{
  background-color: red;
}
