<div class="row contenitore" style="border-radius: 25px;">
  <div class="col-xl-5 order-2 order-lg-1">

    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Crea Ricetta</p>

    <form class="mx-1 mx-md-4" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
          <input placeholder="title" type="text" id="title" name="title" class="form-control" formControlName="title" />
          <label class="form-label" for="title">Nome ricetta</label>
          <p class="help is-danger" *ngIf="!form.get('title').valid && form.get('title').touched">Il campo è obbligatorio</p>
        </div>
      </div>

      <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
          <input placeholder="description" type="text" id="description" name="description" class="form-control" formControlName="description"/><!-- <textarea name="description" rows="7"-->
          <label class="form-label" for="description">La tua description</label>
          <p class="help is-danger" *ngIf="form.controls.description.hasError('required') && form.get('description').touched">Il campo description è obbligatorio</p>
          <p class="help is-danger" *ngIf="form.controls['description'].hasError('description') && form.get('description').touched">Il campo description non contiene una description valida</p>

        </div>
      </div>

      <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
          <input placeholder="image" type="text" id="image" name="image" class="form-control" formControlName="image" />
          <label class="form-label" for="image">image</label>
          <p class="help is-danger" *ngIf="!form.get('image').valid && form.get('image').touched">Il campo image è obbligatorio</p>
        </div>
      </div>

      <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
          <input type="text" id="published" name="published" class="form-control" formControlName="published"/><!-- type="checkbox" value="true"-->
          <label class="form-label" for="published">published</label>
          <p class="help is-danger" *ngIf="!form.get('published').valid && form.get('published').touched">Il campo ripeti image è obbligatorio</p>
        </div>
      </div>

      <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
          <input type="text" id="difficulty" name="difficulty" class="form-control" formControlName="difficulty"/><!-- <select name="difficulty" <option value="1"></option>-->
          <label class="form-label" for="difficulty">difficulty</label>
          <p class="help is-danger" *ngIf="!form.get('difficulty').valid && form.get('difficulty').touched">Il campo difficulty è obbligatorio</p>
        </div>
      </div>

      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <button type="submit" class="btn btn-primary btn-lg" [disabled]="!form.valid" (click)="open(modaleCreazione)">Crea</button>
      </div>

    </form>
  </div>
</div>

<ng-template #modaleCreazione let-modal>
  <div class="modal-header">
    <h3>Conferma creazione</h3>
    <button type="button" class="btn-close" aria-label="close" (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body">
    <!-- <h3>{{title}}</h3> -->
  </div>

  <div class="modal-footer">
    <button type="button" class="brn" (click)="modal.dismiss()">ANNULLA</button>
    <button type="button" class="btn btn-primary" (click)="modal.close()" ngbAutoFocus>AZIONE</button> <!-- dismiss e close fanno then e catch ts-->
  </div>
</ng-template>
