/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

body {
  font-family: 'Montserrat', sans-serif;
}

.bg-dark, header {
  background-color: #8e210b!important;
}

nav {
  margin-left: 10px;
}

#main_container {
  padding: 16px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
