@import "../../../styles/colors.scss";

footer {

  background-color: primary-color-1!important;
  float: left;
  width: 100%;
  margin-top: 30px;
  padding: 16px;
  height: 200px;

  .icona_cibando {
    width: 100px;
    padding-right: 5px;
  }
}

// .icona-cibando {

// }
