<!-- <div class="myFooter">
  <div class="container">
    <img src="../../assets/images/icona-cibando.png" class="icon">

    <div class="left section">
      <h2>About Us</h2>
      <div class="content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est numquam inventore, tenetur maiores dolorum aliquam quos, dolores facilis consequatur deserunt sapiente.</p>
        <div class="social">
          <a href="https://multiwebpress.com"><span class="fab fa-facebook-f"></span></a>
          <a href="https://instagram.com/multiwebpress"><span class="fab fa-instagram"></span></a>
          <a href="https://www.youtube.com/channel/UCvB-4cVzkhvu4TkTy1hs9zA"><span class="fab fa-youtube"></span></a>
        </div>
      </div>
    </div>

    <div class="center section">
      <h2>Contact Us</h2>
      <div class="content">
        <div class="place">
          <span class="fas fa-map-marker-alt"></span>
          <span class="text"> New York, USA</span>
        </div>
        <div class="phone">
          <span class="fas fa-phone-alt"></span>
          <span class="text"> +98-76543210</span>
        </div>
        <div class="email">
          <span class="fas fa-envelope"></span>
          <span class="text"> contact@example.com</span>
        </div>
      </div>
    </div>
</div> -->


<footer>
  <div>
    <img src="../assets/images/icona-cibando.png" class="icona-cibando">
  </div>
</footer>
